<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->  
  <servlet>
    <servlet-name>analysisServlet</servlet-name>
    <servlet-class>main.server.AnalyticServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>analysisServlet</servlet-name>
    <url-pattern>/attitude_explorer/analysis</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Attitude_Explorer.html</welcome-file>
  </welcome-file-list>

</web-app>
